{% extends 'customer_template/customer_template.html' %}
{% block content %}

<table class="table">
    <div class="Notification">
<!--      <table class="table table-striped"-->
           <thead>
           <tr>
                <th scope="col">sl no</th>
                <th scope="col">date</th>
                <th scope="col">notification</th>



           </tr>
           </thead>

           {% for i in new %}
           <tr>
               <th scope="row">{{forloop.counter}}</th>
               <td>{{i.date}}</td>
               <td>{{i.notification}}</td>





    </tr>
           {% endfor %}
           <div class="d-grid gap-2 d-md-block">

</div>


</table>
{% endblock %}

