{% extends 'admin_template/admin_template.html' %}
{% block content %}

<table class="table">
    <div class="Notification">
<!--      <table class="table table-striped"-->
           <thead>
           <tr>
                <th scope="col">sl no</th>
                <th scope="col">date</th>
                <th scope="col">notification</th>
                <th scope="col">delete</th>


           </tr>
           </thead>

           {% for i in new %}
           <tr>
               <th scope="row">{{forloop.counter}}</th>
               <td>{{i.date}}</td>
               <td>{{i.notification}}</td>
                <td><a href="{% url 'delete_notification_data' i.id %}">
                   <button type="button" class="btn btn-primary">delete</button>
                    </a></td>




    </tr>
           {% endfor %}
           <div class="d-grid gap-2 d-md-block">

</div>


</table>
{% endblock %}

